@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as vars;

.contentContainer {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.error-message {
  @include mixins.text-style(26px, 24px, 600, vars.$red);
  text-align: center;
  padding: 20px;
  border: 1px solid vars.$red;
  background-color: vars.$vanilla-strawberry;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
