.chart-container {
  display: flex;
  flex-direction: column;
}

.dynamic-graph__btns {
  margin-top: 20px;
  display: flex;
}

.dynamic-graph__btn {
  margin-right: 10px;
  height: 27px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: green;
  border: 1px solid green;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dynamic-graph__btn:hover {
  color: white;
  background-color: green;
}

.dynamic-graph__btn:active {
  color: white;
  background-color: green;
}

.dynamic-graph__btn:focus-visible {
  color: white;
  background-color: green;
  outline: none;
}

.error-message {
  color: red;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  border: 1px solid red;
  background-color: #ffe6e6;
  margin: 20px 0;
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}

.interval-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;

  &__label {
    font-size: 18px;
    color: #333;
  }

}
