@font-face {
  font-family: 'Bitter';
  font-display: swap;
  src: url('../../public/assets/fonts/Bitter-SemiBold.woff2') format('woff2'),
    url('../../public/assets/fonts/Bitter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  font-display: swap;
  src: url('../../public/assets/fonts/Bitter-Regular.woff2') format('woff2'),
    url('../../public/assets/fonts/Bitter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  font-display: swap;
  src: url('../../public/assets/fonts/Bitter-Medium.woff2') format('woff2'),
    url('../../public/assets/fonts/Bitter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  font-display: swap;
  src: url('../../public/assets/fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../../public/assets/fonts/Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  font-display: swap;
  src: url('../../public/assets/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../../public/assets/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  font-display: swap;
  src: url('../../public/assets/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../../public/assets/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  font-display: swap;
  src: url('../../public/assets/fonts/Oswald-SemiBold.woff2') format('woff2'),
    url('../../public/assets/fonts/Oswald-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  font-display: swap;
  src: url('../../public/assets/fonts/Oswald-Regular.woff2') format('woff2'),
    url('../../public/assets/fonts/Oswald-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}