@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as vars;

.header {
  margin-right: 15px;
  background-color: vars.$coconut-white;
  box-shadow: 0 0 5px 1px vars.$black;
  border-radius: 5px;

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-bottom: 0;
    text-align: center;
    @include mixins.text-style(24px, 30px, 700, vars.$hulk);

    &Span {
      @include mixins.text-style(22px, 30px, 600, vars.$black);
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__date,
  &__time {
    margin-right: 20px;
    @include mixins.text-style(22px, 30px, 600, vars.$black);
  }
}

@media (max-width: 1280px) {
  .header {
    &__title {
      @include mixins.text-style(18px, 22px, 700);

      &Span {
        @include mixins.text-style(16px, 22px, 600);
      }
    }

    &__date,
    &__time {
      @include mixins.text-style(16px, 22px, 600);
    }
  }
}
