@use '../styles/mixins' as mixins;
@use '../styles/variables' as vars;

.container {
  padding: 20px;
  background-color: vars.$white-smoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid vars.$cerebral-grey;
}

.tab {
  padding: 10px 20px;
  @include mixins.text-style(18px, 16px, 600);
  cursor: pointer;
  border: 1px solid vars.$cerebral-grey;
  border-bottom: none;
  margin-right: 5px;
  background-color: vars.$doctor;
  border-radius: 5px 5px 0 0;
  transition: all 0.5s ease;

  &:hover,
  &--selected {
    background-color: vars.$hulk;
    color: vars.$white;
  }

  &:focus {
    outline: none; 
  }

  &:last-child {
    margin-right: 0; 
  }
}

.sub-tab-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  animation: slideInFromLeft 0.75s ease-out; 
}

.sub-tab {
  padding: 8px 16px;
  @include mixins.text-style(16px, 14px, 600);
  cursor: pointer;
  border: 1px solid vars.$cerebral-grey;
  margin-right: 5px;
  background-color: vars.$beluga;
  border-radius: 5px;
  transition: all 0.5s ease;

  &:hover,
  &--selected {
    background-color: vars.$white;
    border-bottom: 2px solid vars.$hulk;
    color: vars.$hulk;
    transform: translateY(-2px);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  }

  &:focus {
    outline: none;
  }

  &:last-child {
    margin-right: 0; 
  }
}

.tab-content {
  padding: 20px;
  border: 1px solid vars.$cerebral-grey;
  border-top: none;
  background-color: vars.$white;
  border-radius: 0 0 10px 10px;
  animation: fadeIn 0.5s ease; 
}

.sub-tab-content {
  animation: fadeIn 1s ease; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
