.mnemo__symbols {
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 1;

  &-title {
    margin: 0;
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    color: green;
  }

  &-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &-descr {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: black;
    font-style: italic;
  }

  &-name {
    margin-right: 40px;
    width: 20px;
    height: 20px;
    border-radius: 7px;
  }
}


@media (max-width: 1280px) {
  .mnemo__symbols {
    &__symbols-title {
      font-size: 20px;
      line-height: 30px;
    }

    &__symbols-descr {
      font-size: 14px;
      line-height: 20px;
    }
  }
}