@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as vars;

.table {
  margin-top: 30px;
  margin-right: 15px;
  width: 410px;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 5px;
  background-color: vars.$coconut-white;
  box-shadow: 0 0 5px 0 vars.$black;

  &__title {
    margin-bottom: 10px;
    text-align: center;
    @include mixins.text-style(18px, 25px, 700, vars.$hulk);
  }

  &__tr {
    height: 30px;
    border: 1px solid black;

    &:nth-child(even) {
      background-color: vars.$coconut-white;
    }
  }

  &__th {
    text-align: center;
    @include mixins.text-style(18px, 18px, 500, vars.$black);
    &:not(:last-child) {
      border-right: 1px solid vars.$black;
    }
  }

  &__td {
    letter-spacing: 1px;
    text-align: center;
    @include mixins.text-style(16px, null, 500, vars.$black);

    &.table__left {
      padding: 10px;
      padding-left: 30px;
      text-align: left;
    }

    &.table__right {
      @include mixins.text-style(null, null, 600, vars.$hulk);

    }

    &:not(:last-child) {
      border-right: 1px solid vars.$black;
    }
  }
}
