@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as vars;

.table {
  margin-top: 30px;
  min-width: 410px;
  max-width: 700px;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0 0 5px 0 black;
  border: 2px solid green;

  &__thead {
    background: linear-gradient(135deg, green, #81c784);
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;
    @include mixins.text-style(18px, 25px, 700, vars.$hulk);
  }

  &__tr {
    height: 30px;
  }

  &__th {
    text-align: center;
    @include mixins.text-style(18px, 18px, 600, vars.$white);
    border: 1px solid #e0e0e0;
  }

  &__td {
    letter-spacing: 1px;
    text-align: center;
    @include mixins.text-style(16px, null, 500, null);
    border: 1px solid #e0e0e0;

    &.table__left {
      padding: 10px;
      padding-left: 30px;
      text-align: left;
    }

    &.table__right {
      @include mixins.text-style(null, null, 600, vars.$hulk);
    }
  }

  &__body {
    .table__tr {
      &:nth-child(odd) {
        background-color: #f5f5f5;
      }

      &:nth-child(even) {
        background-color: white;
      }
    }
  }
}
